<style>
      
body {
  background-color: brown;
}

h1 {
  color: black;
  text-decoration: underline;
  text-align: center;
}
h2 {
    color: Blue;
    text-align: center;
    text-decoration: underline;
}
p {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

img {
    border : 8px solid blue;
    border-radius: 20px;
}

table, th, td{
    border: 1px solid gray;
    border-collapse; collapse;
}
th,td {
  text-align: center;
}
</style>